# Snakemake and environments
.snakemake/
.snake*
.conda/
.mamba/
.venv/

# Data and results
data/
results/
logs/
qc/
reports/

# Temporary downloads and caches
fasterq.tmp*/
~/ncbi/public/sra/
*.sra
pycache/

# Large raw and processed files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.cram
*.pod5
*.fast5
*.md5
*.sha256

# OS/editor files
.DS_Store
*.swp